body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77A9C5 3px solid;
}

header a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
}

header ul {
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline;
}

button {
    padding: 10px 15px;
    background-color: #77A9C5;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}
